@page "{id:length(24)}"
@model RecipeUIClassLib.Areas.Recipes.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="card-deck">
    <div class="card mb-4 shadow-sm text-white bg-dark">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="card-body">
                    <h3 class="card-title">@Model.Recipe.Title</h3>
                    <p class="card-subtitle">@Model.Recipe.Description</p>
                    <h6 class="card-text mb-2 text-muted">
                        <small class="text-muted"><i>@Model.Recipe.Yield</i></small>
                    </h6>
                    <h6 class="card-text mb-2 text-muted">
                        @if (Model.Recipe.CookTime.Hours > 0)
                        {
                            <span class="badge badge-secondary">
                                Cook Time: @Model.Recipe.CookTime.Hours hours and Model.Recipe.CookTime.Minutes minutes
                            </span>
                        } 
                        else
                        {
                            <span class="badge badge-secondary">
                                Cook Time: @Model.Recipe.CookTime.Minutes minutes
                            </span>
                        }
                        @if (Model.Recipe.PrepTime.Minutes > 0 || Model.Recipe.PrepTime.Hours > 0)
                        {
                            @if (Model.Recipe.PrepTime.Hours > 0)
                            {
                                <span class="badge badge-secondary">
                                    Prep Time: @Model.Recipe.PrepTime.Hours hours and @Model.Recipe.PrepTime.Minutes minutes
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">
                                    Prep Time: @Model.Recipe.PrepTime.Minutes minutes
                                </span>
                            }
                        }
                    </h6>
                    <p class="card-text">
                        <h6 class="card-subtitle mb-2 text-muted">Ingredients</h6>
                        <ul>
                        @foreach (var ingredient in Model.Recipe.Ingredients)
                        {
                            <li>@ingredient</li>
                        }
                        </ul>
                    </p>
                    <p class="card-text">
                        <h6 class="card-subtitle mb-2 text-muted">Preparation Steps</h6>
                        <ul>
                        @foreach (var step in Model.Recipe.Preparation)
                        {
                            <li>@step</li>
                        }
                        </ul>
                    </p>
                    <p class="card-text">
                        <h6 class="card-subtitle mb-2 text-muted">Cooking Instructions</h6>
                        <ul>
                        @foreach (var instruction in Model.Recipe.Instructions)
                        {
                            <li>@instruction</li>
                        }
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: No Picture">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="30%" y="50%" fill="#eceeef" dy=".3em">No Picture</text>
                </svg>
                <!-- <img src="~/images/cookie.jpeg" class="card-img" alt="@Model.Recipe.Title" /> -->
            </div>
        </div>
        <div class="btn-group">
            <a asp-page="Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a asp-page="Index" class="btn btn-sm btn-outline-secondary">Back To Recipes</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
