@page
@model RecipeUIClassLib.Areas.Recipes.Models.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <h3 class="col-10">Recipes</h3>
    <a asp-page="Create" class="col-2 btn btn-outline-primary">New Recipe</a>
</div>
<hr />
@if (!Model.Recipes.Any())
{
    <p class="row">No recipes have been created yet.</p>
}
else
{
    <div class="card-deck">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="card mb-4 shadow-sm text-white bg-dark">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: No Picture">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="30%" y="50%" fill="#eceeef" dy=".3em">No Picture</text>
                </svg>
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <p class="card-text">@recipe.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-page="Details" asp-route-id="@recipe.Id" class="btn btn-sm btn-outline-secondary">View</a>
                            <a asp-page="Edit" asp-route-id="@recipe.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-page="Delete" asp-route-id="@recipe.Id" class="btn btn-sm btn-outline-secondary">Remove</a>
                        </div>
                        <small class="text-muted">@recipe.Yield</small>
                    </div>
                </div>
            </div>
        }
    </div>        
}